
.ressource {
	width: 70px;
	height: 70px;
	background-color: #F3F018;
}

.city {
	width: 70px;
	height: 70px;
	background-color: #ABA6A6;
}

.green {
	width: 70px;
	height: 70px;
	background-color: #09B512;
}

.building {
	width: 70px;
	height: 70px;
	background-color: #F55F35;
}